# VITE_API_URL=https://api.webmonitor.devsoftbr.com
VITE_API_URL=http://localhost:4444
VITE_DEBOUNCE_DELAY=500
VITE_WHATSAPP_DOCUMENT_TYPES=text/plain,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/pdf
VITE_WHATSAPP_IMAGE_TYPES=image/jpeg,image/png
# VITE_CLARITY=u1gipamm92